{% extends 'calculator/base.html' %}
{% block content %}
<div class="wrapper">
    <input id="input" class="screen" type="text" disabled>
    <div class="button_box">
        {% for row in buttons %}
            {% for btn in row %}
                <button
                    {% if btn == "=" %} 
                        class="equals" 
                    {% endif %} 
                    onclick="clickButton('{{btn}}', '{% url 'calculate' %}', '{{csrf_token}}')"
                    >
                    {{btn}}
                </button>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<footer>
    Desarrollado por: Edison Camilo Rosero Achicanoy<br>
    Alejandra Rosero Maya<br>
    Alejandro Ayala Chamorro
                      
</footer>
{% endblock content %}




